{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Home</title>

</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark py-0" id="navbar">
    <a class="navbar-brand mb-2" href="{% url 'blog_list' %}" style="font-size: 2.5rem;">Django Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-flex justify-content-between" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'post_new' %}" class="btn btn-light bi bi-plus mt-1">New Post</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_list' %}" style="color:white">Home</a>
        </li>
      </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}  
          <li class="nav-item">
            <a href="{% url 'log_out_user' %}" class="btn btn-light mr-2">Sign out</a>
          </li>
          <li class="nav-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="white"
              class="bi bi-person-circle mt-1" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </li>
          <li class="nav-item">
            <span class="navbar-text pb-0 ml-1" style="color:white">Olá, {{ request.user }} </span>
          </li>
        {% endif %}

        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-light mr-sm-2" href="{% url 'user_login' %}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light" href="{% url 'user_register' %}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
        
      </ul>
    </div>
  </nav>


  {% block content %}

  {% endblock content %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>