{% extends 'base.html' %}


{% block content %}


<div class="d-flex justify-content-center mt-sm-5">

    <div class="d-inline-flex p-4 rounded shadow-lg p-3 mb-5 bg-white rounded">
        <form action="" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <h2 class="text-center">Sign in</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" class="form-control" name="username" placeholder="Enter username" id="email" required>
                <div class="invalid-feedback">This field is riquired</div>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password" id="pwd" required>
                <div class="invalid-feedback">This field is riquired</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="form-group">
                <span>Don't have an account?</span> <a href="{% url 'user_register' %}" class="link">Sign Up</a>
            </div>
            
            <div class="form-group">


                {% if login_error %}
                <div class="alert alert-danger" role="alert">
                    {{ login_error }}
                </div>
                {% elif sign_up_sucess%}
                <div class="alert alert-success" role="alert">
                    {{ sign_up_sucess }}
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<style>
    body {
        background-color: rgb(233, 233, 233) !important;
    }
</style>

<script>
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock content %}