{% extends 'base.html' %}

{% block content %}

  {% for post in posts %}

  <div class="container mt-5 w-75 ">
    <div class="card text-center shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h4 class="card-title" id="card-title">{{ post.title }}</h4>
        <p class="card-text text-sm-left">{{ post.body }}.</p>
        <p class="card-text text-left">&#8618 Publicado: {{ post.published_date }}, by {{ post.author }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock content %}
</body>



</html>