{% extends 'base.html' %}


{% block content %}


<div class="d-flex justify-content-center mt-sm-5">
    <div class="d-inline-flex p-4 rounded shadow-lg p-3 mb-5 bg-white rounded">
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="pwd">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="pwd">Confirm password:</label>
                {{ form.password2 }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create account</button>
            </div>
            <div class="form-group">
                <span>Already have an account?</span> <a href="{% url 'user_login' %}" class="link">Sign In</a>
            </div>
            <div class="form-group">
                    
            </div>
        </form>
    </div>
</div>

<style>
    body {
        background-color: rgb(233, 233, 233) !important;
    }
</style>

{% endblock content %}