@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

#navbar {
    background-color: #1F8FFF;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem !important;
}

#card-title {
    font-family: 'Lato', sans-serif;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

body {
    background-color: rgb(241, 241, 241) !important;
}